http:
  routers:
    workspaces-api:
      rule: "Host(`api.workspaces.domain.local`) && !PathPrefix(`/outpost.goauthentik.io`)"
      service: workspaces-api
      entryPoints:
        - websecure
      middlewares:
        - authentik-auth
      tls: {}

    workspaces-dashboard:
      rule: "Host(`workspaces.domain.local`)"
      service: workspaces-api
      entryPoints:
        - websecure
      middlewares:
        - authentik-auth
      tls: {}


    workspaces-logout:
      rule: "Host(`api.workspaces.domain.local`) && PathPrefix(`/outpost.goauthentik.io`)"
      service: workspaces-authentik-outpost
      entrypoints:
        - websecure
      tls: {}

  services:
    workspaces-api:
      loadBalancer:
        servers:
          - url: "http://workspaces-api:5000"
        serversTransport: insecure

    workspaces-authentik-outpost:
      loadBalancer:
        servers:
          - url: "http://workspaces-authentik-outpost:9000"
        serversTransport: insecure

  middlewares:
    authentik-auth:
      forwardAuth:
        address: "http://workspaces-authentik-outpost:9000/outpost.goauthentik.io/auth/traefik"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-authentik-username"
          - "X-authentik-email"
          - "X-authentik-groups"

  serversTransports:
    insecure:
      insecureSkipVerify: true
